<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<style>
		body           {  }
		#wrapper       { background-color: #eee; margin: 30px auto; width: 760px; }
		#header        { background-color: #ddd; margin: 5px; padding: 10px; }
		#main_menu     { background-color: #ddd; margin: 5px; padding: 10px; }
		#sidebar       { background-color: #ddd; float: left; margin: 5px; padding: 10px; width: 120px; }
		#main_content  { background-color: #ddd; float: left; margin: 5px; padding: 10px; width: 580px; }
		#footer        { background-color: #ddd; clear: left; margin: 5px; padding: 10px; }
	</style>
</head>
<body>
	
	<div id="wrapper">
		<header id="header">
			<h1>My Site</h1>
		</header>
		<nav id="main_menu">
			{{ region('menu') }}
		</nav>
		<aside id="sidebar">
			<h1>My Sidebar</h1>

			{{ region('sidebar') }}

		</aside>
		<div id="main_content">
			<h1>{{ page.title }}</h1>

			{{ region('main-content') }}

		</div>
		<footer id="footer">
			<h1>My Footer</h1>

			{{ region('footer') }}
		</footer>
	</div>

</body>
</html>